img, embed, object, video {
  max-width: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.sectionLine {
  color: inherit;
  border-top: solid 3px;
  border-radius: 10%;
  width: 100%;
  margin-right: 0;
}

.name, .skills {
  text-align: right;
}

.blue, .green, .grey {
  width: 58px;
  height: 48px;
}

.themes {
  width: 100%;
}

.blue {
  background-color: #2fd8f0;
}

.grey {
  background-color: #a8b4ad;
}

.green {
  background-color: #4df092;
}

.presentationPhoto img {
  width: 100%;
}

.linksHolder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}


.featuredWork img {
  width: 100%;
  margin-top: 10px;
}

.footer {
  height: 20px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.blue_theme {
  color: #2fd8f0;
}

.green_theme {
  color: #4df092;
}

.grey_theme {
  color: #a8b4ad;
}

.workLink {
  text-decoration: none;
  color: inherit;
}

.logo-container {
  width: 20%;
}

.info-container {
  width: 70%;
}
